# Do not put real secrets in this file.

LLM_MODE=mock
NEXUS_SQL_CONNECTION_STRING=Server=localhost,1433;Database=NexusDb;User Id=sa;Password=<set-locally>;TrustServerCertificate=True;
GITHUB_REPO=org/repo
GITHUB_TOKEN=<set-locally>